/*  *,
*::before,
*::after {
  box-sizing: border-box;
}*/
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

h1,
h2,
h3,
p {
  max-width: 0;
  margin: 0;
}

a {
  text-decoration: none;
  list-style: none;
  color: inherit;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
h1 {
  color: #ffffff;
}
h2 {
  color: #2e2f42;
}

h3 {
  color: #434455;
}

.container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

img {
  display: block;
}

.section {
  padding: 120px 0;
}
/*=======================Header=========================*/
.header {
  border-bottom: 1px solid #e7e9fc;
  margin-bottom: 490px;
}

.header-container {
  display: flex;
  align-items: center;
}

.header {
  background: #ffffff;
  justify-content: space-between;
}

.header-nav {
  display: flex;
  align-items: center;
}
.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
  padding: 24px 0;
}

.header-logo-part {
  color: #2e2f42;
}

.nav-list,
.nav-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap;
  justify-content: space-between;
}
.nav-item {
  display: flex;
  align-items: center;
  padding: 24px 0;
}
.nav-link {
  display: block;
  color: #2e2f42;
  padding: 24px 0;
}

.nav-list .nav-link:hover,
.nav-list .nav-link:focus,
.header-contacts-list .contacts-link:hover,
.header-contacts-list .contacts-link:focus {
  color: #404bbf;
}

.header-contacts {
  font-style: normal;
  margin-left: auto;
}
.header-contacts-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-contacts-list,
.header-contacts-items,
.contacts-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
}
.contacts-link {
  display: block;
  padding: 24px 0;
}

/*=====================Section 1 - Hero==========================*/
.hero {
  font-weight: 700;
  background-color: #2e2f42;
}
.hero .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.hero-title {
  margin-right: 76px;
  font-size: 56px;
  line-height: 107%;
  letter-spacing: 0.02em;
  max-width: 496px;
  text-align: center;
}

.order-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  display: block;
}
.order-button:hover,
.order-button:focus {
  background-color: #404bbf;
}

/*====================Section 2 - Fauter===================*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.feauter-list {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.feauter-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.feauter-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
}

/*=====================Section 3 - Our Team======================*/
.team {
  background-color: #f4f4fd;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
}

.team-item {
  background-color: #ffffff;
}

.team-image {
  max-width: 100%;
}

.team-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.team-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
}

/*==================Section 4 - Portfolio=======================*/
.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  max-width: 218px;
}

.portfolio-list {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #2e2f42;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 32px 16px 8px 16px;
  justify-content: flex-start;
  max-width: 360px;
}

.portfolio-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
  padding: 0 16px 32px 16px;
}

/*=========================Footer==================================*/
.footer {
  background-color: #2e2f42;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.footer-logo-part {
  color: #f4f4fd;
}

.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
